<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        My name is Yash A. Akbari. I am 2nd year student of Software
        Developement at Seneca College.
      </p>
      <p>
        Besides this, I am an IT Engineer. Additionally, I have expertise in
        Microsoft Azure Cloud and Software Developement.
      </p>
      <p>I want to become a Successful IT Professional.</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>
      In my upcoming jounery, I want to do the Co-Op in Mutinational Company.
    </p>
    <p>
      Apart from it, It's my dream to get an Stupendous IT job before
      graduation.
    </p>
  </aside>
</div>